<div ng-controller="TableCtrl">
    <div class="container-fluid" style="max-width: 380px;">
        <form>
            <div class="form-group">
                <input class="form-control" ng-model="lastName" placeholder="Фамилия...">
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="firstName" placeholder="Имя...">
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="middleName" placeholder="Отчество...">
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="position" placeholder="Должность...">
            </div>
        </form>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Сотрудники</div>
        <table class="table">
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Должность</th>
                <th>Дата рождения</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="e in employees">
                <td>{{e.lastName}}</td>
                <td>{{e.firstName}}</td>
                <td>{{e.middleName}}</td>
                <td>{{e.position.name}}</td>
                <td>{{e.birthday}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>